/* Test RangeSlider */

.slider {
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('images/logo-a_modifier.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('images/logo-a_modifier.png');
  cursor: pointer;
}



/* Toute la page */

* {
  margin: 0;
  padding: 0;
  font-family: "Belanosima";
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.gap {
  gap: 3%;
}

.size {
  width: 25%;
}

/* Flex */

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Grid */

.d-grid {
  display: grid;
}

.grid-t-columns {
  grid-template-columns: 50% 50%;
}

.grid-t-rows {
  grid-template-columns: 50% 50%;
}


/* HEADER */

header {
  background-color: #F9F9F9;
  height: 10vh;
  margin-bottom: 10vh;
  
}

.box-shadow {
  box-shadow: 0 0 20px 0;
}

.logo {
  width: 30vh;
}

/* Toutes les sections */

section {
  margin-bottom: 0vh;
}

/* SECTION 1 */

/* animation roue qui tourne (voir keyframes spin) */
.roue_aleatoire:active {
  animation: spin .15s linear;
}

.roue_aleatoire {
  cursor: pointer;
}


/* SECTION 2 */

/* Intitulé */

.texte-miniscules {
  text-transform: capitalize;
}

/* Affichage Couleur */

.box-couleur {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  border: solid black 1px;
}

/* FOOTER */



.box-shadow {
  box-shadow: 0 0 20px 0;
}


/* Se trouve dans "Section 1 (animation qui tourne)" */
@keyframes spin {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(359deg);
  }
}


.new-div {
  border: solid black 3px;
  width: 24.3%;
  height: 10vh;
  display: flex;
  margin-left: px;

}

.section_test {
  /* border: solid 2px black; */

  width: 80%;
  margin-left: 10%;
  margin-top: 10px;


}

.box {
  width: 25%;
  height: 10vh;
  border: solid black 3px;
  margin-left: 5px;

}

.flex {
  margin-top: 100px;
  display: flex;
}

.normal {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 30px;
  margin-top: -5vh;
}

/* Positionement input color qui apparait */

.new-color {
  width: 10vh;
  height: 5vh;
  margin-left: -11vh;

}


.buttonsuppr {

  width: auto;
  height: 5vh;
  cursor: pointer;
  margin-left: -15vh;
  margin-top: 2vh;
}

.new-text {
  position: absolute;
  width: 9.5vh;
  height: 5vh;
  margin-left: -11vh;
  margin-top: 5vh;
  font-size: 23px;
}

@media screen and (max-width: 1500px) {
  .new-color {
      width: 8vh;
      height: 4vh;
      margin-left: -8.4vh;
      margin-top: 1.5vh;
  
  }
  
  
  .buttonsuppr {
  
      width: auto;
      height: 5vh;
      cursor: pointer;
      margin-left: -13vh;
      margin-top: 2.6vh;
  }
  
  .new-text {
      position: absolute;
      width: 7.8vh;
      height: 3.2vh;
      margin-left: -8.6vh;
      margin-top: 5.4vh;
      font-size: 18px;
  }
  
}


@media screen and (max-width: 1200px) {
  .new-color {
      width: 4vh;
      height: 4vh;
      margin-left: -4.5vh;
      margin-top: -0.2vh;
  
  }
  
  
  .buttonsuppr {
  
      width: auto;
      height: 2.5vh;
      cursor: pointer;
      margin-left: -3.4vh;
      margin-top: 7vh;
  }
  
  .new-text {
      position: absolute;
      width: 3.9vh;
      height: 1.6vh;
      margin-left: -4.7vh;
      margin-top: 4.3vh;
      font-size: 18px;
  }
  
}